<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Credentials</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='email_app/styles.css') }}">
</head>

<body>
    <a href="{{ url_for('home') }}" class="btn btn-secondary home-button">Return to Home Page</a>
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="credentials_files">Upload credentials files (JSON):</label>
                <input type="file" name="credentials_files" id="credentials_files" multiple>
            </div>
            <button type="submit" class="btn btn-primary">Upload Files</button>
        </form>
    </div>
</body>

</html>
